//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_TOKEN}
@fontawesome:registry=https://npm.fontawesome.com

//npm.greensock.com/:_authToken=${GSAP_NPM_TOKEN}
@gsap:registry=https://npm.greensock.com

engine-strict=false
resolution-mode=highest
