//npm.greensock.com/:_authToken=${GSAP_NPM_TOKEN}
@gsap:registry=https://npm.greensock.com
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_TOKEN}
@fortawesome:registry=https://npm.fontawesome.com

engine-strict=false
resolution-mode=highest
